* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --main-color: #4A60FF;
}

body {
    background-color: #ddd;
}

.container {
    width: 500px;
    max-width: calc(100% - 30px);
    margin: 30px auto;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.tabs-list {
    list-style: none;
    display: flex;
    gap: 1px;
}

.tabs-list li {
    flex: 1;
    padding: 10px;
    color: #333;
    background-color: #E2E9FE;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tabs-list li.active {
    color: var(--main-color);
    background-color: white;
    border-top: 2px solid var(--main-color);
}

.tabs-content {
    padding: 30px;
}

.tabs-content div:not(:first-child) {
    display: none;
}

.tabs-content div h2 {
    color: var(--main-color);
    text-transform: capitalize;
    margin-bottom: 20px;
}

.tabs-content div p {
    color: #333;
    line-height: 25px;
    text-align: justify;
}